.message {
  display: flex;
  padding: 20px;
  align-items: center;
  word-wrap: break-word;
}

.message__info {
  margin-left: 20px;
  color: white;
}

.message__timestamp {
  color: grey;
  font-size: x-small;
  margin-left: 10px;
}

.chat__messages {
  overflow: auto;
  word-break: break-word;
}
